#header #nav{
	height: 27px;
	margin:0;
	padding: 5px 20px 0 10px;
	position: relative;
}

#header #nav ul{
	list-style: none;
}
#header #nav ul li.upp{
	display: inline;
	float: left;
	position: relative;
	margin: 0 30px 0 0;
	text-align: center;
	padding-bottom:3px;
}
#header #nav ul li.upp a{
	color: #999;
	display: block;
	padding: 0px 0px 11px 8px;
	text-align: center;
	text-shadow: #000 0px 1px 1px;
}

#header #nav ul li.upp ul{
	display: none;
}
#header #nav ul li.upp:hover ul{
	background: #252525;
	border: 1px solid #58585a;
	border-top: none;
	display: block;
	position: absolute;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	padding-bottom:5px;
	z-index: 9999;
	top:27px;
}

#header #nav ul li.upp:hover a{color:#eee}

#header #nav ul li.upp ul li{
	color: #4e4e4e;
	display: block;
	padding: 5px 10px 6px 8px;	
	text-align: left;
	width: 170px;	

}
#header #nav ul li.upp ul li a{
	background: none;
	display: inline;
}


#header #nav ul li.upp a:hover, #header #nav ul li.upp a .active{
	color: #e44b2f;
}

