* {
	margin: 0;
	padding: 0;
}
html{overflow-y: scroll}
body{
	background: #f3f3f3;
	color: #bebebe;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;

	position:relative;
	padding-bottom:50px;
}

h1, h2, h3, h4{
	font-family: Arial, sans-serif;
	color: #444444;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
button, .button, #main form input.button, #main .btns .btn{
	background: #F3F3F3;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font: 700 11px Tahoma, Arial, sans-serif;
	margin-right: 10px;
	padding: 7px 12px 7px 12px;
	position: relative;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFFFFF;
	width:auto;
	background-repeat:no-repeat;
}
button:hover, #main .button:hover, #main .btns .btn:hover{
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-right-color: #999999;
	border-top-color: #999999;
	color: #333333;
	text-decoration: none;
}

.wrap{position:relative; width:960px; margin:0 auto;}

#header{background: #222 url(../img/bg-texture1b.png); box-shadow:0 3px 0 #aaa}


#header #top{
	position:relative;
	height: 32px;
	padding: 20px 20px 20px 20px;
	margin-bottom:5px;
	border-bottom:1px solid #000;
	box-shadow:0 1px 0 rgba(255,255,255,0.1);
}
#header #top .wrap{height:30px;}

#header #top #logo{position:absolute; top:8px; left:0; height:33px; width:500px; font-size:14px; color:#676767; text-shadow:1px 1px 0 #000}
#header #top #logo img{display:block; float:left; margin:-3px 15px 0 0;}

#header #top #saudacao{position:absolute; top:10px; right:0; text-align:right}

#header #top p{
	text-shadow: #000 0px 1px 1px;
}
#header #top a{
	color: #e44b2f;
}

#content{
	width:960px;
	margin: 0 auto;
	margin-top:30px;
	min-height:400px;
}
#content .b1{
	background: #ffffff;
}
#content .b2{
	background: #f7f7f7;
}

#content tr:nth-child(even){
	background: #ffffff;
}
#content tr:nth-child(odd){
	background: #f7f7f7;
}

/* CONTENT SIDEBAR START */

#content #sidebar{
	float: left;
	margin: 0 20px 0 0;
	width: 190px;
	overflow:hidden
}
#sidebar a{
	color: #656565;
}

#sidebar a:hover{color:#000}

#sidebar .box{
	border: 1px solid #DCDDE1;
	margin: 0 0 3px 0;
}
#sidebar .box .h_title{
	background: url(../img/bg_box_head.jpg) repeat-x;
	color: #bebebe;
	cursor: pointer;
	font-size: 11px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 10px;
	text-shadow: #0E0E0E 0px 1px 1px;
}

#sidebar .box .h_title:hover, #sidebar .box .h_title.open{color:#f60}

#sidebar .box ul{
	list-style: none;
}
#sidebar .box ul li{
	padding: 8px 0 8px 5px;
}

#sidebar .box ul li.pai-open{background:#f3f3f3}
#sidebar .box ul li.pai-open a{color:#656565}

.box ul li .icon{ padding: 2px 0 2px 22px;}
.box ul li .page{ background: url(../img/i_page.png) no-repeat center left;}
.box ul li .view_page{ background: url(../img/i_view_page.png) no-repeat center left;}
.box ul li .category{ background: url(../img/i_category.png) no-repeat center left;}
.box ul li .contact{ background: url(../img/i_contact.png) no-repeat center left;}
.box ul li .report{ background: url(../img/i_report.png) no-repeat center left;}
.box ul li .add_page{ background: url(../img/i_add_page.png) no-repeat center left;}
.box ul li .photo{ background: url(../img/i_photo.png) no-repeat center left;}
.box ul li .config{ background: url(../img/i_config.png) no-repeat center left;}
.box ul li .users{ background: url(../img/i_users.png) no-repeat center left;}
.box ul li .add_user{ background: url(../img/i_add_user.png) no-repeat center left;}
.box ul li .block_users{ background: url(../img/i_block_users.png) no-repeat center left;}



/* CONTENT MAIN START */

#content #main{
	float: right;
	margin: 0 0 30px 0;
	width: 746px;
	background:#fff;
	border: 1px solid #DCDDE1;
	color: #848484;
}

#content #main ul, #content #main ol{
	list-style-position: inside;
	margin: 0 0 0 35px;
}

#main .full_w{
	background: #ffffff;
	color: #848484;
	margin: 0 0 20px 0;
}
#main .h_title, #main .half_w .h_title{
	background:#222 url(../img/bg_box_head.jpg) repeat-x;
	color: #bebebe;
	font-size: 12px;
	font-weight: normal;
	padding: 10px 15px 12px;
	text-shadow: #0E0E0E 0px 1px 1px;
	text-transform:uppercase;
}

#main .list{
	list-style: none;
}
#main h1, #main h2, #main h3{
	margin: 15px 15px 5px 15px;
}
#main p{
	line-height: 16px;
	margin: 5px 15px;
}

#main .half_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
	width: 330px;
	float: left;
}
#main .half_left{
	margin-right: 10px;
}
#main .half_right{
	margin-left: 4px;
}

/* STATS BLOCK */

#main .stats .today, #main .stats .week{
	float: left;
	margin: 10px auto;
	text-align: center;
	text-shadow: #fff 1px 1px 0px;
	width: 49%;
}
#main .stats .today{
	border-right: 1px dashed #c0c0c0;
}
#main .stats h3{
	color: #797777;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
#main .stats .count{
	color: #444444;
	font-size: 23px;
	font-weight: bold;
}
#main .stats .type{
	font-size: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

/* CONTENT MAIN FORM */
#main form{
	margin: 15px;
}
#main form .element{
	clear: both;
	border-bottom: 1px dashed #ededed;
	display: block;
	margin: 0;
	padding: 10px 10px;
}
#main form label{
	color: #575757;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0 0 0 3px;
}
#main form label span{
	color: #b8b8b8;
	font-size: 11px;
	font-weight: normal;
}
#main form input, #main form select, #main form textarea{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
}
#main form input:focus, #main form select:focus, #main form textarea:focus{	border: 1px solid #b3b3b3;}

#main form select{
	border: 1px solid #DDDDDD;
	border-radius: 3px;

}
#main form .text{
	width: 100%;
}
#main form textarea{
	width: 100%;
	font-size:11px;
	font-family: Arial;
}
#main form .err{
	border: 1px solid #FF5252;
}
#main form .red{
	color: #FF5252;
}

/* MAIN NOTIFY */

#main .n_warning{background: #FFF7CE;border: 1px solid #D9C65B; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_warning p{	background: #FDF0B1 url(../img/i_warning.png) no-repeat 4px center;	color: #756B30;	margin: 0; padding: 7px 25px;}
#main .n_warning a{	color: #756B30;	font-weight: bold;}

#main .n_ok{background: #F6FFEC;border: 1px solid #89B755; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_ok p{background: #DFF6C5 url(../img/i_ok.png) no-repeat 4px center; color: #496528; margin: 0; padding: 7px 25px;}
#main .n_ok a{color: #006312; font-weight: bold;}

#main .n_error{background: #FDE4E1;border: 1px solid #B16A6C; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_error p{background: #F4CAC6 url(../img/i_error.png) no-repeat 4px center; color: #630E18; margin: 0; padding: 7px 25px;}
#main .n_error a{color: #822121; font-weight: bold;}

/* MAIN TABLE */

table{
	border-collapse: collapse;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:30px;
	width: 650px;
}
table th{
	background:#252525 url(../img/bg_box_head.jpg) repeat-x;
	color: #ddd;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 7px 12px;
	text-shadow: 0px 1px #242424;
}
table tr{
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
table td{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ffffff;
	color: #777;
	padding: 8px;
}
table tr:hover td{
	background: #fff8cf;
	color: #222;
}
table .chb{
	width: 20px;
}
table td a{color:#069}
table td a:hover{color:#036}

.table-icon { padding: 1px 8px; margin-right: 5px; }
.edit.table-icon { background: url(../img/i_edit.png) no-repeat; }
.delete.table-icon { background: url(../img/i_trash1.gif) no-repeat; }
.archive.table-icon { background: url(../img/i_archive.png) no-repeat; }
.add-reuniao.table-icon { background: url(../img/add_event.png) no-repeat; width: 16px; height: 16px; }

.pagination{
	margin: 5px auto;
	padding: 12px 0;
	text-align: center;
}
.pagination a{
	border:solid 1px #d2d2d2;
	color: #444444;
	margin-right:2px;
}
.pagination .active{
	border:solid 1px #e0e0e0;
	color:#000;
	font-weight:bold;
}
.pagination a:link, .pagination a:visited{
	padding:6px 10px;
	text-decoration:none;
}
.pagination span, .pagination strong{
	color:#ddd;
	padding:6px 10px;
	text-decoration:none;
	border:solid 1px #000;
	margin-right:2px;
	background:#333;
	text-shadow:1px 1px 0 #000;
}
.pagination a:hover{
	border:solid 1px #b2b2b2;
}

/* FOOTER START */

#footer{
	background:#252525 url(../img/bg-texture1b.png);
	border-top: 2px solid #000;
	color: #939393;
	width:100%;
	min-height:30px;
	position:fixed; bottom:0; left:0; padding:6px 0;
}

#footer .wrap{clear:both; padding:10px}
#footer a{
	color: #939393;
	font-weight: bold;
}

/* HELPERS START */

.entry{ color: #444; margin: 5px 0; padding: 5px 15px; text-shadow: 0px 1px #ffffff; }

.add{ background: #F3F3F3 url(../img/i_add.png) no-repeat 4px center !important;		padding-left: 25px}
.cancel{ background: #F3F3F3 url(../img/i_delete.png) no-repeat 4px center !important;	padding-left: 25px}
.excluir{background: #F3F3F3 url(../img/i_trash1.gif) no-repeat 4px center !important; 	padding-left: 25px}
.cat{background-image:url(../img/i_cat.png) !important}

.sep{ border-bottom: 1px dashed #DDDDDD; margin: 10px 0;}

.add.save, .save{background-image:url(../img/i_save.png) !important}

.clear{ clear: both; }

.left{ 	float: left; }
.right{ float: right; }

.align-left{ text-align: left; }
.align-right{ text-align: right; }
.align-center{ text-align: center; }



/* ////////

Customizacoes

////// */

#content #main.full{width:100%}

#content table{width:96%}

#main form input, #main form select{padding:10px 8px; font-size:14px; width:98%}
#main form label{display:block; margin-bottom:10px; font-size:13px}

#main form .element{padding:20px 10px}
#main form .element:last-child{border:0}

.sub-element{display:inline-block; width:48%; vertical-align:top; margin-bottom: 15px;}
.sub-element:first-child{margin-right:3%}
.sub-element input{width:95% !important}
#main .sub-element h3{padding:0; margin:0 15px 5px}

.col-1 { width: 100%; margin:0 3% 15px 0;}

.col-2 .sub-element{width:48%; margin:0 3% 3% 0}
.col-2 .sub-element:last-child {margin: 0;}

.col-3 .sub-element{width:30.5%; margin-right:3%}
.col-3 .sub-element:last-child{margin:0}

.col-4 .sub-element{width:22%; margin-right:3%}
.col-4 .sub-element:last-child{margin:0}
.col-4 .sub-element.email{width:30%; margin-right:5.5%}
.col-4 .sub-element.ramal{width:10%; margin-right:5.5%}

#main .element.btns{position:relative; text-align:right; padding:0 0 10px; margin:20px 10px}
form .btns button, #main .btns .btn{padding:12px 12px 12px 38px !important; text-align:left; background-position:8px 11px !important; margin:0 0 0 15px}
#main .element.btns .titulo, #main .btns .excluir{position:absolute; display:block; top:0; left:0; margin:0; background-position:10px 10px !important}
#main .element.btns .titulo{left:15px}
/*form .btns .excluir:hover{background-image:url(../img/i_trash1open.gif); background-position:10px 6px}*/

#main .element.top form{margin-top:-2px; text-align:left; width:260px}
#main .element.top form input, #main .element.top form label{display:inline-block; vertical-align:middle; margin:0 10px 0 0 !important}
#main .element.top form input.txt{width:126px}


/* Tabela */
table .table-icon{opacity:0.3}
table tr:hover .table-icon{opacity:1}

#footer{width:100%}


/* Lista: Filtro e Busca */
#list-filtro{display:inline-block; width:96.5%; margin:2%; border:1px solid #eee; border-radius:3px}
#list-busca{display:inline-block; width:22%; margin:2% 2% 2% 0; vertical-align:top}

#list-filtro h3, #list-filtro p{display:inline-block; width:15.7%; padding:1.5% 1% !important; margin:0 !important; vertical-align:bottom}
#list-filtro h3{width:12%; text-align:center; font-size:13px}
#list-filtro p.btn{width:10%; text-align:right}

#main #list-filtro label, #main #list-busca label{font-size:12px; margin-bottom:8px; color:#777; font-weight:normal}
#list-filtro select{width:90%; /*height:28px*/}

#list-filtro p.nome input{padding:5px}

#list-busca{padding-top:7px}
#main #list-busca label{font-weight:bold}
#list-busca .txt{width:66%; padding:5px 5px 6px; margin-right:2%}



/*
Estilo 2 pra BTNs
#list-filtro .btn input, #list-filtro .btn input{padding:5px 10px; background:#eee; border:1px solid #ddd; border-radius:3px; color:#777; box-shadow:0 2px 8px #eee inset, 0 12px 0 #fff inset;  cursor:pointer}
#list-filtro .btn input:hover{color:#222; border-color:#999}*/


/* Funcao > Editar */
#main .funcao-editar{width:100%}
#main .funcao-editar .element{display:inline-block; width:30%; vertical-align:top; border:0}
#main .funcao-editar .element.opcoes{width:54%; margin-left:5%; padding:15px; border:1px solid #ddd; margin-bottom:20px}
#main .funcao-editar .element.btns{width:95%}

#main .funcao-editar .element.opcoes h3{margin:0 0 15px; padding:0 0 15px; border-bottom:1px dashed #ddd}
#main .funcao-editar .element.opcoes .sub-element{position:relative; display:inline-block; width:47.5%; margin:1%}

#main .funcao-editar .element.opcoes .ativo{background:#f3f3f3}
#main .funcao-editar .element.opcoes label{display:block; font-weight:normal; padding:10px 10px 10px 30px; margin:0; cursor:pointer}
#main .funcao-editar .element.opcoes label:hover{background:#ddd}

#main .funcao-editar .element.opcoes input{position:absolute; top:13px; left:7px; width:auto !important; margin:0 !important; padding:0 !important}


/* Link Voltar > no topo */
.h_title{position:relative; min-height:14px}
.h_title .btn-voltar{display:block; position:absolute; top:0; right:0; padding:10px 12px 11px; border-left:1px solid #555; color:#888; text-shadow:1px 1px 0 #000; }
.h_title .btn-voltar:hover{color:#ccc; background:#222; text-decoration:none}


/* Tymce Table */
table.mceLayout tr{width:100% !important; background:#eee !important}
table.mceLayout td:hover, table.mceToolbar tr:hover td{background:#eee !important}
table.mceToolbar{ width:40% !important}
table.mceToolbar td{width:auto !important;}
table.mceToolbar td a{margin:0 auto !important; padding:0 !important}

/* Arquivo: anexar */
#main .element.arquivo{ clear:both; border:1px solid #ddd; padding:10px; margin:20px 10px 10px !important; border-radius:3px}
#main .element.arquivo:hover{background:#f9f9f9}
#main .element.arquivo .btns{margin-top:10px}
#main .element.arquivo .btn{position:relative !important; display:inline-block !important; padding:7px 15px 7px 35px !important; background-position:9px 5px !important; margin:0 10px 0 0 !important  }
#main .element.arquivo .btn.ver{padding:7px 15px !important}

#main .element.arquivo .sub-element.info p{ display:inline-block; vertical-align:middle; width:105px; margin:0 0 0 15px}

/* Comunicacao */
.item-img{display:inline-block; width:90px; /*height:60px;*/ border:3px solid #ddd; border-radius:3px}
.item-img img{display:block; min-width:100%; max-width:100%; /*min-height:100%; max-height:100%*/}


/* Permissao de acesso */
#main .element.permissao-acesso{position:relative; background:#f9f9f9; margin:0 -14px; padding:3%; width:93.9%}
#main .element.permissao-acesso h3{margin:0 0 20px 0; padding:2px 0 2px 25px; background:url(../img/i_lock.gif) no-repeat left center}
#main .element.permissao-acesso .help{position:absolute; width:16px; height:16px; top:20px; right:10px; background:url(../img/i_help.png) no-repeat; color:#555; cursor:help}
#main .element.permissao-acesso .help span{display:none; position:absolute; top:20px; right:0; width:700px; height:auto; padding:5px 15px 15px; background:#fff; border:1px solid #999; z-index:1000}
#main .element.permissao-acesso .help strong{display:block; margin-top:8px}
#main .element.permissao-acesso .help:hover span{display:block !important}


/* Normas: lista de arquivos */
#lista-arquivos, .lista-itens-selecao{margin:10px 0 0 !important; list-style:none}
#lista-arquivos li, .lista-itens-selecao li{display:block; clear:both; border-bottom:1px solid #eee; padding:10px 5px !important; min-height:10px}
#lista-arquivos li a.remove, .lista-itens-selecao li a.remove{display:block; width:16px; height:16px; float:right; background: url(../img/i_trash1.gif) no-repeat; overflow:hidden; text-indent:-1000px}
#lista-arquivos li.off, .lista-itens-selecao li.off{background:#eee; color:#999; border-color:#ddd}
#lista-arquivos li.off a.remove, .lista-itens-selecao li.off a.remove, a.table-icon.remove, a.table-icon.delete.remove{background-image:url(../img/i_delete.png)}
#lista-arquivos .titulo{padding-right:20px}


/* Usuarios */
#main .usuarios .element.col1{width:35%}
#main .usuarios .element.col1 input{width:95%}
.usuarios .element.col1 input, .usuarios .element.col1 select{margin-bottom:20px}
#main .usuarios .sub-element input{width:90% !important}
#main .usuarios .sub-element.i2{margin-left:3%}
#main .usuarios .element.opcoes{width:47%; padding-bottom:30px; margin-right:2%}

#main .usuarios .element.opcoes .sub-element{width:100%; border-bottom:1px solid #e3e3e3; margin:0}
#main .usuarios .element.opcoes .sub-element label{padding:15px 30px}
#main .usuarios .element.opcoes .sub-element input{top:18px}
#main .usuarios .element.opcoes .sub-element select{display:block; width:140px; position:absolute; top:15px; right:5px; font-size:12px}

#main .usuarios .element.opcoes .titulo{margin:-15px 0 5px; padding:10px; background:#eee}
#main .usuarios .element.opcoes .titulo span{display:inline-block; width:70%}
#main .usuarios .element.opcoes .titulo span.last{width:20%}

/* Perfil : Telefone com DDD separado */
#main form .telefone .ddd{width:13% !important; margin-right:2%}
#main form .telefone .tel{width:57% !important; padding:10px 5px}


/* Home - Editar */
.sanfona{margin:15px; padding:10px 10px 0; background:#f3f3f3; border:1px solid #ddd; border-radius:5px}
.sanfona h3{padding:0; cursor:pointer; padding:10px; margin:-10px -10px 0 -10px !important; border-radius:5px; color:#777}
.sanfona h3:hover{color:#333}
.sanfona h3.open{background:#ddd; color:#000; border-radius:5px 5px 0 0}

.sanfona .container{padding:10px 0; position:relative}
.sanfona .sanfona{background:#f9f9f9; margin:10px 0 0}

.sanfona.open{background:#fff; border-color:#ccc}

.sanfona input{width:97% !important}
.sanfona textarea{width:97.5% !important; font:13px Tahoma !important; padding:1% !important}

.sanfona .item{position:relative; display:inline-block; width:200px; margin:10px 20px 0 0; vertical-align:middle}
.sanfona .item.img{width:110px; margin:0 0 15px 0}
.sanfona .item.img img{display:block; max-width:95%; border:1px solid #ddd; background:#fff; padding:5px; border-radius:5px}

.sanfona .item label, .sanfona .col label{display:block; margin:0 0 5px 0; font-size:12px !important}
.sanfona .item input, .sanfona .item textarea, .sanfona .col input, .sanfona .col textarea{width:90% !important}

.sanfona .item.btns{height:30px}
.sanfona .btns.geral{height:40px; margin-top:10px}
.sanfona .btns.geral .btn{float:right}

.sanfona .banner-edit textarea{width:95% !important; margin-top:10px; resize:none}
.sanfona .banner-edit .col{display:inline-block; vertical-align:top;}
.sanfona .banner-edit .col .item{width:100%;}

.sanfona small{display:block; font-size:10px; margin:5px 0; color:#aaa}


/* Categorias - Editar */
#main .funcao-editar .element.opcoes table .save{background-image: url(../img/i_save.png) !important}

#main .funcao-editar .element.opcoes table input.save{display:block; float:left; position:relative !important; top:0 !important; left:0 !important; margin:0 5px 0 0 !important; width:16px; height:16px; overflow:hidden}

